@model WebHecsa.Models.TblClienteContacto

@{
    ViewData["Title"] = "Editar Cliente Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">HECSA</li>
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Cliente</li>
        <li class="breadcrumb-item">Control de Cliente</li>
        <li class="breadcrumb-item active" aria-current="page">Editar Cliente Contacto</li>
    </ol>
</nav>
<hr />
<div class="row">

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdClienteContacto" />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="IdCliente" class="control-label"></label>
                    <select id="idListaCliente" class="form-select statesSelect" asp-for="IdCliente" asp-items="@(new SelectList(ViewBag.ListaCliente,"IdCliente","NombreCliente"))">
                        <option value="">SELECCIONAR</option>
                    </select>
                    <span asp-validation-for="IdCliente" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="IdPerfil" class="control-label"></label>
                    <select id="idListaPerfil" class="form-select statesSelect" asp-for="IdPerfil" asp-items="@(new SelectList(ViewBag.ListaPerfil,"IdPerfil","PerfilDesc"))">
                        <option value="">SELECCIONAR</option>
                    </select>
                    <span asp-validation-for="IdCliente" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="NombreClienteContacto" class="control-label"></label>
                    <input style="text-transform:uppercase" asp-for="NombreClienteContacto" class="form-control" />
                    <span asp-validation-for="NombreClienteContacto" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="CorreoElectronico" class="control-label"></label>
                    <input  asp-for="CorreoElectronico" class="form-control" type="email" />
                    <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input style="text-transform:uppercase" asp-for="Telefono" class="form-control" type="number" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">

                <div class="form-group">
                    <label asp-for="TelefonoMovil" class="control-label"></label>
                    <input style="text-transform:uppercase" asp-for="TelefonoMovil" class="form-control" type="number" />
                    <span asp-validation-for="TelefonoMovil" class="text-danger"></span>
                </div>

            </div>
             <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="IdEstatusRegistro" class="control-label"></label>
                    <select id="idEstatusLista" class="form-select" asp-for="IdEstatusRegistro" asp-items="@(new SelectList(ViewBag.ListaEstatus,"IdEstatus","EstatusDesc"))">
                        <option value="">Seleccionar Estatus</option>
                    </select>
                    <span asp-validation-for="IdEstatusRegistro" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Actualizar" class="btn btn-warning" />
            <a asp-action="Index" class="btn btn-secondary">Regresar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
