@model WebHecsa.Models.TblEmpresaFiscal

@{
    ViewData["Title"] = "Editar Fiscales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Empresa</li>
        <li class="breadcrumb-item">Control de Empresa</li>
        <li class="breadcrumb-item active" aria-current="page">Editar Fiscales</li>
    </ol>
</nav>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdEmpresaFiscales" />
    <input type="hidden" asp-for="IdEmpresa" />
    <input type="hidden" asp-for="IdColonia" />

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="NombreFiscal" class="control-label"></label>
                <input asp-for="NombreFiscal" class="form-control" />
                <span asp-validation-for="NombreFiscal" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="RegimenFiscal" class="control-label"></label>
                <input asp-for="RegimenFiscal" class="form-control" />
                <span asp-validation-for="RegimenFiscal" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Rfc" class="control-label"></label>
                <input asp-for="Rfc" class="form-control" />
                <span asp-validation-for="Rfc" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Calle" class="control-label"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="CodigoPostal" class="control-label"></label>
                <div class="input-group mb-3">
                    <input type="number" asp-for="CodigoPostal" class="form-control" id="iCodigoPostal" aria-label="CodigoPostal" aria-describedby="basic-addon2" pattern="[0-9]" title="Solo números. Tamaño mínimo: 6">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="filtro_cp()">Buscar</button>
                    </div>
                </div>
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Colonia" class="control-label"></label>
                <select id="drpColonias" class="form-select" asp-for="Colonia">
                    @*<option value="">Seleccionar Estatus</option>*@
                </select>
                <span asp-validation-for="Colonia" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="LocalidadMunicipio" class="control-label"></label>
                <input id="idLocalidadMunicipio" style="text-transform:uppercase" asp-for="LocalidadMunicipio" class="form-control" readonly="readonly" />
                <span asp-validation-for="LocalidadMunicipio" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Ciudad" class="control-label"></label>
                <input id="idCiudad" style="text-transform:uppercase" asp-for="Ciudad" class="form-control" readonly="readonly" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input id="idEstados" style="text-transform:uppercase" asp-for="Estado" class="form-control" readonly="readonly" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="CorreoElectronico" class="control-label"></label>
                <input id="iCorreoElectronico" asp-for="CorreoElectronico" class="form-control" type="email" />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" type="number" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="IdEstatusRegistro" class="control-label"></label>
                <select id="idEstatusLista" class="form-select" asp-for="IdEstatusRegistro" asp-items="@(new SelectList(ViewBag.ListaEstatus,"IdEstatusRegistro","EstatusDesc"))">
                    <option value="">Seleccionar Estatus</option>
                </select>
                <span asp-validation-for="IdEstatusRegistro" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Actualizar" class="btn btn-warning" />
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </div>
</form>


@section Scripts {
    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script type="text/javascript">

    $(document).ready(function () {
        filtro_colonias();
    });

    function filtro_cp() {

        var valor_cp = document.getElementById("iCodigoPostal").value;

        $.ajax({
            type: "GET",
            url: "/CatCodigosPostales/FiltroCodigosPostales/",
            data: { id: valor_cp },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                var $select_colonias = $('#drpColonias');
                $("#drpColonias").empty();

                if (list.length == 0) {
                    $select_colonias.append('<option value="">SELECCIONAR</option>');
                    document.getElementById("idLocalidadMunicipio").value = null;
                    document.getElementById("idCiudad").value = null;
                    document.getElementById("idEstados").value = null;
                }
                else {
                    $select_colonias.append('<option value="">SELECCIONAR</option>');
                    for (var i = 0, len = list.length; i < len; i++) {
                          $select_colonias.append('<option value=' + list[i].idAsentaCpcons + '>' + list[i].dasenta + '</option>');
                document.getElementById("idLocalidadMunicipio").setAttribute('value',list[i].dmnpio);
                document.getElementById("idCiudad").setAttribute('value',list[i].dciudad);
                document.getElementById("idEstados").setAttribute('value',list[i].destado);
                    }
                }
            },
            error: function () {
                alert("Error!!")
            }
        });
    }
    function filtro_colonias() {

        var valor_col = document.getElementById("IdColonia").value;
        var valor_cp = document.getElementById("iCodigoPostal").value;
        $.ajax({
            type: "GET",
            url: "/CatCodigosPostales/FiltroColonia/",
            data: { id: valor_cp, idC:valor_col  },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                var $select_colonias = $('#drpColonias');
                $("#drpColonias").empty();
                if (list.length == 0) {
                    $select_colonias.append('<option value="">SELECCIONAR</option>');
                }
                else {

                    for (var i = 0, len = list.length; i < len; i++) {
                        $select_colonias.append('<option value=' + list[i].idAsentaCpcons + '>' + list[i].dasenta + '</option>');
                    }
                }
            },
            error: function () {
                alert("Error!!")
            }
        });
    }

</script>
}
