@model WebHecsa.Models.TblClienteDireccion

@{
    ViewData["Title"] = "Editar Cliente Direcciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">HECSA</li>
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Empresa</li>
        <li class="breadcrumb-item">Control de Proveedor</li>
        <li class="breadcrumb-item active" aria-current="page">Editar Cliente Direcciones</li>
    </ol>
</nav>
<hr />

<div class="row">

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="IdCliente" class="control-label"></label>
                    <select id="idListaProveedor" class="form-select statesSelect" asp-for="IdCliente" asp-items="@(new SelectList(ViewBag.ListaCliente,"IdCliente","NombreCliente"))">
                        <option value="">SELECCIONAR</option>
                    </select>
                    <span asp-validation-for="IdCliente" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="IdTipoDireccion" class="control-label"></label>
                    <select id="idListaTipoDireccion" class="form-select" asp-for="IdTipoDireccion" asp-items="@(new SelectList(ViewBag.ListaTipoDireccion,"IdTipoDireccion","TipoDireccionDesc"))">
                        <option value="">SELECCIONAR</option>
                    </select>
                    <span asp-validation-for="IdTipoDireccion" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Calle" class="control-label"></label>
                    <input style="text-transform:uppercase" asp-for="Calle" class="form-control" />
                    <span asp-validation-for="Calle" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="CodigoPostal" class="control-label"></label>
                    <div class="input-group mb-3">
                        <input type="number" asp-for="CodigoPostal" class="form-control" id="iCodigoPostal" aria-label="CodigoPostal" aria-describedby="basic-addon2" pattern="[0-9]" title="Solo números. Tamaño mínimo: 6">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="filtro_cp()">Buscar</button>
                        </div>
                    </div>
                    <span asp-validation-for="CodigoPostal" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Colonia" class="control-label"></label>
                    <select id="drpColonias" class="form-select" asp-for="Colonia">
                        <option value="">SELECCIONAR</option>
                    </select>
                    <span asp-validation-for="Colonia" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="LocalidadMunicipio" class="control-label"></label>
                    <input id="idLocalidadMunicipio" style="text-transform:uppercase" asp-for="LocalidadMunicipio" class="form-control" readonly="readonly" />
                    <span asp-validation-for="LocalidadMunicipio" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Ciudad" class="control-label"></label>
                    <input id="idCiudad" style="text-transform:uppercase" asp-for="Ciudad" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Ciudad" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Estado" class="control-label"></label>
                    <input id="idEstados" style="text-transform:uppercase" asp-for="Estado" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
           <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="CorreoElectronico" class="control-label"></label>
                    <input id="iCorreoElectronico" asp-for="CorreoElectronico" class="form-control" type="email"  />
                    <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" type="number" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
            </div>
                <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="IdEstatusRegistro" class="control-label"></label>
                    <select id="idEstatusLista" class="form-select" asp-for="IdEstatusRegistro" asp-items="@(new SelectList(ViewBag.ListaEstatus,"IdEstatusRegistro","EstatusDesc"))">
                        <option value="">Seleccionar Estatus</option>
                    </select>
                    <span asp-validation-for="IdEstatusRegistro" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Actualizar" class="btn btn-warning" />
            <a asp-action="Index" class="btn btn-secondary">Regresar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
