@model WebHecsa.Models.CatCodigosPostale

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CatCodigosPostale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCodigosPostales" />
            <div class="form-group">
                <label asp-for="Dcodigo" class="control-label"></label>
                <input asp-for="Dcodigo" class="form-control" />
                <span asp-validation-for="Dcodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dasenta" class="control-label"></label>
                <input asp-for="Dasenta" class="form-control" />
                <span asp-validation-for="Dasenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtipoAsenta" class="control-label"></label>
                <input asp-for="DtipoAsenta" class="form-control" />
                <span asp-validation-for="DtipoAsenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dmnpio" class="control-label"></label>
                <input asp-for="Dmnpio" class="form-control" />
                <span asp-validation-for="Dmnpio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destado" class="control-label"></label>
                <input asp-for="Destado" class="form-control" />
                <span asp-validation-for="Destado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dciudad" class="control-label"></label>
                <input asp-for="Dciudad" class="form-control" />
                <span asp-validation-for="Dciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dcp" class="control-label"></label>
                <input asp-for="Dcp" class="form-control" />
                <span asp-validation-for="Dcp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cestado" class="control-label"></label>
                <input asp-for="Cestado" class="form-control" />
                <span asp-validation-for="Cestado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coficina" class="control-label"></label>
                <input asp-for="Coficina" class="form-control" />
                <span asp-validation-for="Coficina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ccp" class="control-label"></label>
                <input asp-for="Ccp" class="form-control" />
                <span asp-validation-for="Ccp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CtipoAsenta" class="control-label"></label>
                <input asp-for="CtipoAsenta" class="form-control" />
                <span asp-validation-for="CtipoAsenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cmnpio" class="control-label"></label>
                <input asp-for="Cmnpio" class="form-control" />
                <span asp-validation-for="Cmnpio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAsentaCpcons" class="control-label"></label>
                <input asp-for="IdAsentaCpcons" class="form-control" />
                <span asp-validation-for="IdAsentaCpcons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dzona" class="control-label"></label>
                <input asp-for="Dzona" class="form-control" />
                <span asp-validation-for="Dzona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CcveCiudad" class="control-label"></label>
                <input asp-for="CcveCiudad" class="form-control" />
                <span asp-validation-for="CcveCiudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
