@model WebHecsa.Models.CatTipoDireccion

@{
    ViewData["Title"] = "Editar Tipos Direcciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">HECSA</li>
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Catálogos</li>
        <li class="breadcrumb-item">Tipos Direcciones</li>
        <li class="breadcrumb-item">Control de Tipos Direcciones</li>
        <li class="breadcrumb-item active" aria-current="page">Editar Tipos Direcciones</li>
    </ol>
</nav>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input style="text-transform:uppercase" type="hidden" asp-for="IdTipoDireccion" id="IdEstatus" />
            <div class="form-group">
                <label asp-for="TipoDireccionDesc" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="TipoDireccionDesc" class="form-control" />
                <span asp-validation-for="TipoDireccionDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstatusRegistro" class="control-label"></label>
                <select id="idEstatusLista" class="form-select" asp-for="IdEstatusRegistro" asp-items="@(new SelectList(ViewBag.ListaCatEstatus,"IdEstatus","EstatusDesc"))">
                    <option value="">Seleccionar Estatus</option>
                </select>
                <span asp-validation-for="IdEstatusRegistro" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input  type="submit" value="Actualizar" class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
