@model WebHecsa.Models.TblCliente


@{
    ViewData["Title"] = "Editar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Empresa</li>
        <li class="breadcrumb-item">Control de Cliente</li>
        <li class="breadcrumb-item active" aria-current="page">Editar Cliente</li>
    </ol>
</nav>
<hr />

<div class="row">

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdCliente" />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="NombreCliente" class="control-label"></label>
                    <input style="text-transform:uppercase" asp-for="NombreCliente" class="form-control" />
                    <span asp-validation-for="NombreCliente" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="GiroComercial" class="control-label"></label>
                    <input style="text-transform:uppercase" asp-for="GiroComercial" class="form-control" />
                    <span asp-validation-for="GiroComercial" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Rfc" class="control-label"></label>
                    <input style="text-transform:uppercase" asp-for="Rfc" class="form-control" />
                    <span asp-validation-for="Rfc" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="IdEstatusRegistro" class="control-label"></label>
                    <select id="idEstatusLista" class="form-select" asp-for="IdEstatusRegistro" asp-items="@(new SelectList(ViewBag.ListaEstatus,"IdEstatusRegistro","EstatusDesc"))">
                        <option value="">Seleccionar Estatus</option>
                    </select>
                    <span asp-validation-for="IdEstatusRegistro" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Actualizar" class="btn btn-warning" />
            <a asp-action="Index" class="btn btn-secondary">Regresar</a>
        </div>
    </form>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
