@model WebHecsa.Models.CatCategoria

@{
    ViewData["Title"] = "Crear Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Catálogos</li>
        <li class="breadcrumb-item">Marca</li>
        <li class="breadcrumb-item">Control de Categoria</li>
        <li class="breadcrumb-item active" aria-current="page">Crear Categoria</li>
    </ol>
</nav>
<hr />


<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="IdMarca" class="control-label"></label>
                <select id="drpColonias" class="form-select" asp-for="IdMarca" asp-items="@(new SelectList(ViewBag.ListaMarca,"IdMarca","MarcaDesc"))">
                    <option value="">SELECCIONAR</option>
                </select>
                <span asp-validation-for="IdMarca" class="text-danger"></span>
            </div>

        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="CategoriaDesc" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="CategoriaDesc" class="form-control" />
                <span asp-validation-for="CategoriaDesc" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </div>
</form>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
